.photo-grid {
    max-width: 1184px;
    margin: 0 48px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}



@media screen and (max-width: 1279px) {
    .photo-grid {
      max-width: 100%;
      gap: 14px;
    }
  } 
  
  @media screen and (max-width: 1023px) {
    .photo-grid {
        margin: 0 24px;
        gap: 16px;
    } 
  }
  
  
  @media screen and (max-width: 767px) {
    .photo-grid  {
        margin: 0 16px;
        gap: 12px;
    } 
  }


