.photo-grid {
    max-width: 1184px;
    min-height: 671px;
    margin: 0 48px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    border: blue 1px solid;
}