.lead {
  max-width: 984px;
  margin: 56px 148px 0px;
}

.lead *:last-child {
   margin: 0 0 0 0;
}


@media screen and (max-width: 1279px) {
  .lead {
    max-width: calc(100% - 48px*2);
    margin: 48px auto;
  }
} 

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 100%;
    margin-top: 48px;
} 
}


@media screen and (max-width: 767px) {
  .lead {
    max-width: calc(100% - 2px*2);
    margin: 48px auto;

} 
}

