.intro {
  min-width : 986px;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 1279px) {
  .intro {
    min-width : 928px;
  }
} 

@media screen and (max-width: 1023px) {
  .intro {
    min-width : 720px;
  } 
}


@media screen and (max-width: 767px) {
  .intro {
    min-width : 288px;
  } 
}