.cover {
    max-width: 1184px;
    min-height: 740px;
    background-image: url(background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 48px;
    text-decoration: none;
    z-index: 1;
    
}

@media screen and (max-width: 1279px) {
    .cover  {
        max-width: 100%;
        min-height: 640px;
        margin: 0;
   }
}

  @media screen and (max-width: 1023px) {
    .cover  {
        max-width: 100%;
        min-height: 480px;
        margin: 0;
      
    }
}


@media screen and (max-width: 559px) {
    .cover  {
        max-width: 100%;
        min-height: 200px;
        margin: 0;
    }
}


@media screen and (max-width: 339px) {
    .cover  {
        max-width: 100%;
        min-height: 200px;
        margin: 0;
    }
}