.cover {
    max-width: 1184px;
    background-image: url('../../images/background.jpg');
    background-size: cover;
    position: relative;
    margin: 0 48px;
    text-decoration: none;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .cover  {
      width: 100%;
      margin: 0px;
    }
}


