.lead__caption {
  max-width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding: 0px 0px 0px 24px;
    box-sizing: border-box;
  } 
}



@media screen and (max-width: 767px) {
  .lead__caption {
    padding: 0px 0px 0px 16px;
  } 
}