.footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
  padding:0px 48px 24px 48px;
  box-sizing: border-box;
  text-align: right;
}


  @media screen and (max-width: 1023px) {
    .footer {
      padding:0px 24px 24px 24px;
      box-sizing: border-box; 
    }
}
  
  @media screen and (max-width: 767px) {
    .footer {
      padding:0px 118px 24px 16px;
      display: flex;
      flex-direction: column;
    }
}